.ball-clip-rotate {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.ball-clip-rotate > div {
  width: 20px;
  height: 20px;
  background: 0 0!important;
  border-radius: 100%;
  border: 1px solid rgba(107, 114, 128, 1);
  border-bottom-color: transparent;
  animation: ball-clip-rotate .75s 0s linear infinite;
}

@keyframes ball-clip-rotate {
  0% {
    transform: rotate(0) scale(.8);
  }
  50% {
    transform: rotate(180deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(.8);
  }
}
